body {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  display: grid;
  place-items: center;
  height: 100vh;
  color: #0cd977;
}

.konami-logo {
  width: 200px;
}

.combo {
  animation: spin 5s linear infinite;
}

.codeflexbox {
  display: flex;
  justify-content: space-around;
  width: 700px
}

.blacktext {
  color: black;
}

span {
  font-size: larger;
  font-weight: bold;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
